body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #000000;
	color: #ffffff;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
}

main {
	padding: 20px;
}


h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  p{
    text-align: center;
  }
  
  .intro {
    text-align: justify;
    margin: 2rem auto;
    width: 80%;
  }
  
  table {
    border-collapse: collapse;
    margin: 2rem auto;
    width: 80%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  form {
    width: 50%;
    margin: 2rem auto;
    text-align: center;
  }
  
  input{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 80%;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
  }
  